<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <!---Test-->
  <div class="field">
    <%= form.label :questions, 'Select Questions' %>
    <%= form.collection_check_boxes(:question_ids, Question.all, :id, :title) %>
  </div>


  <% quiz.questions.each do|question|  %>
      <%= render "questions/question", {question: question, dom_id: question.id } %>
      <hr>
  <% end %>

  <h1>TEST</h1>
  


  <div>
    <%= form.submit %>
  </div>

  <!-- Submit Button -->

  <!-- Vanilla JavaScript for Dynamic Question Fields -->
 


  
<% end %>
