<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block fs-4" %>
    <%= form.text_field :name, class: "mb-5 w-100" %>
  </div>


  <h3>Questions</h3>
  <hr>
  <div id="quiz_questions">
    <%= form.fields_for :quiz_questions do |qq_form| %>
      <%= render "quiz_questions/quiz_questions", form: qq_form %>
    <% end %>
  </div>
  <%= form.submit "Add Question", 
      formaction: quiz_question_path(@quiz.quiz_questions.size), 
      formmethod: :post, 
      formnovalidate: true, 
      id: "add-quiz-question", class: "btn btn-outline-success" %>

  <div class="d-flex justify-content-center mb-3 mt-5">
    <%= form.submit class: "btn btn-success" %>
  </div>

  <div>
    <%= link_to "Back to quizzes", quizzes_path, class: "d-flex justify-content-center" %>
  </div>

<% end %>
