<div id="<%= dom_id quiz %>">
  <p>
    <strong>Name:</strong>
    <%= quiz.name %>
  </p>

  <% if @quiz_questions.present? %>
    <h4>Quiz Questions</h4>

    <% @quiz_questions.each_with_index do |quiz_question, index| %>
      <h5>Question <%=index + 1%></h5>
      <%= quiz_question.question.title %>
      <p><strong>Points:</strong> <%= quiz_question.points %></p>
    <% end %>
  <% end %>

</div>
