<p style="color: green"><%= notice %></p>

<%= render @quiz %>

<% @quiz.questions.each do|question|  %>
      <%= render "questions/question", {question: question, dom_id: question.id } %>
      <hr>
      
  <% end %>

<div>
  <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
  <%= link_to "Back to quizzes", quizzes_path %>

  <%= button_to "Destroy this quiz", @quiz, method: :delete %>
</div>
