
<%= turbo_frame_tag "quiz_question_#{form.index}" do %>
  <%= form.hidden_field :id %>

  <script>
    function filterQuestions(index) {
    //Get values  from :question_bank select
    const selectedBank = document.getElementById("question-bank-select-" + index).value;

    //Get Select Element to replace with filtered info
    const questionSelect = document.getElementById("question-select-" + index);

    //Turn Question.all into JSON
    const questions = ("<%=  escape_javascript @questions.to_json %>");

    //Filter Text
    const filterText = questions.replace(/&quot;/ig, '"').replace(/&#39;/ig,"'").replace(/=&gt;/ig,':').replace(/\\u003c\/?[a-z]*\\u003e/ig,'')
    
    //Parse questions
    const questionsJSON = JSON.parse(filterText);
 

     let filteredQuestions = []

     //Question bank is true filter through said question bank
    if(selectedBank) {
      filteredQuestions = questionsJSON.filter(question => question.bank === selectedBank);
    }
    else{
      //Display all questions
      filteredQuestions = questionsJSON;
    }
     
    //Set question select to 1 for "blank" value
    questionSelect.options.length = 1;

    //Loops through to populate the select form
    filteredQuestions.forEach(question => 
        questionSelect.options.add(new Option(question.title.body, question.id));
      );
  }
  </script>
  
    <div class="container mb-4 mt-5">
      <div class="d-flex flex-column flex-md-row">  
        <div class="">
          <span class="mb-4 fs-5 form-label me-3">Question Bank:</span>
        </div>  
        <div class="col-12 col-md-5 mb-4 col-lg-3">
          <%= select_tag :question_bank, options_for_select(@questions.group(:bank).map {|question| [question.bank.titleize, question.bank]}), {class: "form-select border border-secondary-subtle", id: "question-bank-select-#{form.index}", onChange: "filterQuestions(#{form.index})", include_blank: "All"} %>
        </div>
      </div>
      <div class="mb-4 col-12">
      <%= form.select :question_id, @questions.map {|question| [question.title, question.id]},
        { include_blank: "Choose A Question"}, {class: "form-select border border-secondary-subtle col-11", id: "question-select-#{form.index}"}%>
    </div>
    <div class="mb-4 col-md-3 col-5">
      <%= form.number_field :points, :type => "number", :step => "0.1", :min => "0", class: "form-control border border-secondary-subtle", placeholder: "Enter Points"%>
    </div>
    </div>
    
    

  <div class="d-flex justify-content-end mb-4 pt-4">
    <%= form.submit "Delete Question", 
          formaction: quiz_question_path(form.index, form.object.id), 
          formmethod: :delete, 
          formnovalidate: true, 
          data: { turbo_frame: "quiz_question_#{form.index}" },
          class: "btn btn-outline-danger " %>
  </div>  
  <hr>
      
<% end %>


